In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
  .master('local[*]')\
  .appName('regressao_spark')\
  .getOrCreate()

spark

In [ ]:
dados = spark.read.json('./data/imoveis.json')

In [ ]:
dados.show(truncate=False)

In [ ]:
dados.count()

In [ ]:
dados.printSchema()

In [ ]:
dados.select(
  'ident.customerID', 'listing.*'
).show(truncate=False)

In [ ]:
dados.select(
  'ident.customerID',
  'listing.types.*',
  'listing.features.*',
  'listing.address.*',
  'listing.prices.price',
  'listing.prices.tax.*'
).show(truncate=False)

In [ ]:
dados.select(
  'ident.customerID',
  'listing.types.*',
  'listing.features.*',
  'listing.address.*',
  'listing.prices.price',
  'listing.prices.tax.*'
).drop(
  'city',
  'location',
  'totalAreas'
).show(truncate=False)

In [23]:
dataset = dados.select(
  'ident.customerID',
  'listing.types.*',
  'listing.features.*',
  'listing.address.*',
  'listing.prices.price',
  'listing.prices.tax.*'
).drop(
  'city',
  'location',
  'totalAreas'
)

In [ ]:
dataset.printSchema()

In [19]:
from pyspark.sql.types import IntegerType, DoubleType

In [ ]:
dataset.withColumn(
  'usableAreas',
  dataset['usableAreas'].cast(IntegerType())
).withColumn(
  'price',
  dataset['price'].cast(DoubleType())
).withColumn(
  'condo',
  dataset['condo'].cast(DoubleType())
).withColumn(
  'iptu',
  dataset['iptu'].cast(DoubleType())
).printSchema()

In [24]:
dataset = dataset.withColumn(
  'usableAreas',
  dataset['usableAreas'].cast(IntegerType())
).withColumn(
  'price',
  dataset['price'].cast(DoubleType())
).withColumn(
  'condo',
  dataset['condo'].cast(DoubleType())
).withColumn(
  'iptu',
  dataset['iptu'].cast(DoubleType())
)

In [ ]:
dataset.show()

In [ ]:
dataset\
  .select('usage')\
  .groupBy('usage')\
  .count()\
  .show()

In [28]:
dataset = dataset\
  .select('*')\
  .where('usage=="Residencial"')

In [ ]:
dataset\
  .select('unit')\
  .groupBy('unit')\
  .count()\
  .show()

In [ ]:
dataset\
  .select('zone')\
  .groupBy('zone')\
  .count()\
  .show()

In [32]:
from pyspark.sql import functions as f

In [ ]:
dataset.show()

In [ ]:
dataset.select(
  [f.count(f.when(f.isnan(c) | f.isnull(c), True)).alias(c) for c in dataset.columns]
).show()

In [ ]:
dataset\
  .select('*')\
  .na\
  .fill(0)\
  .show()

In [37]:
dataset = dataset\
  .select('*')\
  .na\
  .fill(0)

In [ ]:
dataset.select(
  [f.count(f.when(f.isnan(c) | f.isnull(c), True)).alias(c) for c in dataset.columns]
).show()

In [ ]:
dataset\
  .select('zone')\
  .groupBy('zone')\
  .count()\
  .show()

In [40]:
dataset = dataset.where(f.col('zone') != '')